@use '../variables.scss' as *;

.cover-section {
  height: 100vh;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  .cover-content {
    background: rgba(0, 0, 0, 0.098);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(120px);
    border: 1px solid rgba(0, 102, 170, 0.26);
    color: $text-color;
    border-radius: 30px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px,
                rgba(0, 0, 0, 0.15) 0px 2px 6px 2px;

    .grid-2-columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 150px;
      align-items: center;
      justify-content: center;

      .column {
        h3 {
          font-size: 68px;
          font-weight: 900;
          margin: 0;
        }

        .line-between {
          position: relative;
          height: 1px;
          width: 100%;
          background-color: $secondary-color;
          margin: 20px 0;

          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: $primary-color;
            border: 0.5px solid $secondary-color;
            animation: floatPulse 3s ease-in-out infinite;
          }
        }

        .buttons {
          display: flex;
          gap: 20px;
          margin-top: 30px;
        }
      }

      .cover-image {
        height: 300px;
        width: auto !important;
        aspect-ratio: 1 / 1 !important;
        border-radius: 50%;
        border: 2px solid $secondary-color;
        padding: 4px;
        object-fit: cover;
        transition: transform 0.5s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@keyframes floatPulse {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.3);
  }
}

@media (max-width: 768px) {
  .cover-section {
    .cover-content {
      padding: 20px;

      .grid-2-columns {
        gap: 50px;
        grid-template-columns: 1fr;

        .cover-image {
          height: 200px;
        }

        .column {
          h3 {
            font-size: 48px;
          }
        }
      }
    }
  }
}
