@use "variables" as *;

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {
    0%,
    100% {
        transform: translate(0, 0);
        box-shadow:
            0 0 4px $secondary-color,
            0 0 8px $secondary-color,
            0 0 12px $secondary-color;
    }
    50% {
        transform: translate(var(--dx), var(--dy));
        box-shadow:
            0 0 12px $secondary-color,
            0 0 20px $secondary-color,
            0 0 28px $secondary-color;
    }
}

@keyframes floatPulse {
    0%,
    100% {
        box-shadow:
            0 0 4px $secondary-color,
            0 0 8px $secondary-color,
            0 0 12px $secondary-color;
    }
    50% {
        box-shadow:
            0 0 12px $secondary-color,
            0 0 20px $secondary-color,
            0 0 28px $secondary-color;
    }
}

@keyframes rotateFrame {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes animateImg {
    0% {
        transform: translate(-30px, 0px);
    }
    50% {
        transform: translate(-30px, -11px) scale(1.1, 1.1) skew(-6deg, -4deg)
            rotateX(30deg);
        opacity: 0.8;
    }
    100% {
        transform: translate(-30px, 0px);
    }
}

@keyframes fadeUpSmooth {
    0% {
        opacity: 0;
        transform: translateY(24px) scale(0.98);
    }

    70% {
        opacity: 1;
        transform: translateY(-3px) scale(1.01);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
