// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Dancing+Script:wght@400..700&display=swap");

@font-face {
    font-family: 'Zuume';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/zuume-medium.woff') format('woff');
}

@font-face {
    font-family: 'Zuume';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/zuume-semi-bold.woff') format('woff');
}

@font-face {
    font-family: 'Zuume';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/zuume-bold.woff') format('woff');
}
