@use '../variables.scss' as *;

button,
.myBT {
  position: relative;
  padding: 8px 17px 8px 12px;
  font-weight: 700;
  color: $text-color;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;

  .btn-background {
    position: absolute;
    top: 0;
    left: 23px;
    right: 0;
    height: 100%;
    background-color: $secondary-color;
    z-index: -1;
    transition: left 0.2s ease-in-out;
  }

  &:hover {
    .btn-background {
      left: 0;
    }
  }

  &:focus {
    outline: none;
  }

  svg {
    position: relative;
    left: 5px;
    width: 15px;
    fill: $text-color;
  }
}
