@use '../variables.scss' as *;

button,
.myBT {
  position: relative;
  padding: 10px 18px;
  font-weight: 700;
  border-radius: 10px;
  overflow: hidden;
  color: $text-color;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid rgba(0, 102, 170, 0.3);
  cursor: pointer;

  .btn-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 35px;
    height: 100%;
    background-color: $secondary-color;
    z-index: -1;
    transition: right 0.2s ease-in-out;
  }

  &:hover {
    .btn-background {
      right: 0;
    }
  }

  &:focus {
    outline: none;
  }

  svg {
    position: relative;
    left: 5px;
    width: 15px;
    fill: $text-color;
  }
}
