@use "../variables.scss" as *;

.my-button {
    position: relative;
    padding: 10px 18px;
    font-weight: 700;
    overflow: hidden;
    color: $text-color;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid rgba(0, 102, 170, 0.3);
    cursor: pointer;

    .btn-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 35px;
        height: 100%;
        background-color: $secondary-color;
        z-index: -1;
        transition: right 0.2s ease-in-out;

        &.processing {
            right: 0;
        }
    }

    &:hover {
        .btn-background {
            right: 0;
        }
    }

    &:focus {
        outline: none;
    }

    i {
        position: relative;
        left: 5px;
        width: 15px;
        fill: $text-color;
    }
}

.spinner {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top-color: $text-color;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    margin-left: 10px;
    vertical-align: middle;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

button:disabled,
.myBT:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}
