@use '../variables.scss' as *;

$separator-color: rgba(0, 153, 255, 0.07);

#navigation {
    position: fixed;
    right: 50%;
    top: 5px;
    transform: translateX(50%);
    background: rgba(0, 0, 0, 0.098);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(120px);
    border: 1px solid rgba(0, 102, 170, 0.26);
    color: $text-color;
    border-radius: 30px;
    padding: 10px 30px;
    z-index: 110;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px,
                rgba(0, 0, 0, 0.15) 0px 2px 6px 2px;

    .nav-items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: relative;
    }

    a {
        display: block;
        text-align: center;
        padding: 10px 12px;
        color: $text-color;
        text-decoration: none;
        font-weight: 600;
        transition: color 0.3s ease, transform 0.3s ease;

        &:hover {
            color: $secondary-color;
            transform: translateY(-2px);
        }
    }

    .logo {
        height: 25px;
        fill: $text-color;
    }

    .separator {
        position: relative;
        width: 2px;
        height: 40px;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 2px;
            height: 100%;
            background-color: $separator-color;
        }
    }
}



@media (max-width: 768px) {
    #navigation {
        padding: 8px 20px;
    }

    #navigation .nav-items {
        gap: 12px;
    }

    #navigation a {
        padding: 8px 10px;
        font-size: 14px;
    }

    .separator {
        height: 30px;
    }

    .logo {
        height: 20px;
    }
}
